* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #222222;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

section {
    background-color: white;
    width: 85%;
    margin: 0 auto;
}

.section1 {
    height: 100vh;
}

.section1 a {
    text-decoration: none;
    color: #222222;
}

.section1 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    color: #222222;

}



#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

#navLinks li {
    list-style: none;
}

#navLinks li a {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    word-spacing: 10px;
    color: #222222;
    transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -webkit-transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -moz-transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -ms-transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -o-transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#navLinks li a:hover {
    color: grey;
}

.section1 nav .logo {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #222222;
    text-decoration: none;
    outline: none;
}

.section1 nav .logo i {
    rotate: 45deg;
    font-size: 50px;
}

#navleft {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 50px;
}

#navBtn {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 22px;
    color: #0c0c0cf1;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 8px;
    transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    padding: 16px 30px;
    background-color: white;
    border: 2px solid #222222;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -moz-transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -ms-transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    -o-transition: scale cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#navBtn:hover {
    scale: 1.02;
}

#hero {
    display: flex;
    width: 100%;
    padding-top: 2vw;
}

#hero .left {
    width: 50%;
    height: 100%;

}

#hero .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

#hero .left h1 {
    font-size: 60px;
    width: 80%;
    font-weight: 500;

}

#hero .left h4 {
    font-size: 18px;
    width: 66%;
    font-weight: normal;
    margin-top: 2vw;
    margin-bottom: 1.6vw;
}

#hero .left .heroBtn,
.proposal .btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 4px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 10px;
    transition: color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s, background-color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s, background-color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
    -moz-transition: color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s, background-color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
    -ms-transition: color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s, background-color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
    -o-transition: color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s, background-color cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
}

#hero .left .heroBtn:hover,
.proposal .btn:hover {
    color: #222222;
    background-color: #b9ff66;
}

#hero .right img {
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.section2 .brand-logos_container {
    padding-bottom: 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 .brand-logos_container img {
    filter: grayscale();
    -webkit-filter: grayscale();
}

.services-ticker-block {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.stb_line_single {
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
}

.stb-item {
    padding: 0;
    font-size: 6.4rem;
    display: inline-block;
    margin-right: 10rem;

}

.stb-item:hover {
    color: #C02534;
}

.stb-item img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    margin-right: 10rem;
}
.section3 {
    min-height: 100vh;
    padding: 2vw 0;
}

.service {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-top: 2.6vw;
}

.service h1 {
    font-size: 2.2rem;
    background-color: #b9ff66;
    padding: 2.5px 5px;
    font-weight: 500;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.service p {
    width: 55%;
    font-size: 1.3rem;
}

.section3 .cardContainer {
    height: inherit;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-columns: 47% 47%;
    grid-template-rows: 47% 47%;
    padding: 4rem 0;
}

.section3 .cardContainer .card {
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid #222222;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.section3 .cardContainer .card:nth-child(1),
.section3 .cardContainer .card:nth-child(4) {
    box-shadow: 0px 0.5rem 0px #222222;
    height: calc(100% - 0.5rem);
}

.section3 .cardContainer .card:nth-child(2),
.section3 .cardContainer .card:nth-child(3) {
    background-color: #222222;
    color: white;
}


.section3 .card .cardLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3 .card .cardLeft h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.section3 .card .cardLeft h2>span {
    background-color: #b9ff66;
    padding: 2.5px 5px;
    font-weight: 500;
    word-spacing: 0.05rem;
    border-radius: 10px;
    display: inline-block;
}

.section3 .card .cardLeft h4 {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.section3 .card .cardLeft h4>i {
    font-size: 2.2rem;
    font-weight: 300;
    rotate: 15deg;
    padding: 0.1rem;
    background-color: #222222;
    color: #b9ff66;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section3 .card .cardRight {
    width: 50%;
    padding: 1rem;
}

.section3 .card .cardRight img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}



.section4 {
    padding: 2vw 0;
}

.section4 .proposal,
.section5 .cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.section4 .proposal .proposalLeft {
    width: 40%;

}

.proposal .proposalLeft h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.proposal .proposalLeft p {
    font-size: 1rem;
    margin-bottom: 1.8rem;
}

.section4 .proposal .proposalRight {
    width: 40%;
    background-color: aqua;
}

.proposal .proposalRight img {
    width: 300px;
    position: absolute;
    top: -4%;
    right: 10%;
}



#caseStudies {
    margin: 5.5vw 0 2vw 0;
}

.section5 {
    padding: 4vw 0 6vw 0;
}

.section5 .cardContainer {
    background-color: #222222;
    color: #f3f3f3;
}

.section5 .cardContainer div:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.section5 .cardContainer div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}

.section5 .cardContainer div p {
    width: 80%;
    font-size: 1.1rem;
    font-weight: 400;
}

.section5 .cardContainer div h4 {
    color: #b9ff66;
    display: flex;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    height: fit-content;
}

.section5 .cardContainer div h4 i {
    font-size: 2rem;
    rotate: 15deg;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}